/* Style Overides */
.list .list-title {
  border-bottom: none;
  margin: 0;
  font-size: 1.2rem;
}

button.btn-link {
  background: transparent;
  border: none;
  cursor: pointer;
}

.product-heading {
  display: none;
}

/* Products */

.products {
  position: relative;
  width: 100%;
  height: 90vh;
  margin: auto;
  grid-template-columns: 250px 1fr;
  background-color: rgb(250, 250, 250);
}

/* sidebar */
.sidebar {
  background-color: white;
  padding: 1rem 2rem;
  overflow-y: scroll;
  color: var(--grey-color-dark);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.sidebar .list-header {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
.filter-checkbox input {
  margin-right: 0.5rem;
}
.filter-checkbox {
  color: var(--grey-color-dark);
}

/* Hide Scrollbar */
body::-webkit-scrollbar,
.main-section::-webkit-scrollbar,
.sidebar::-webkit-scrollbar {
  display: none;
}
.main-section,
.sidebar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* main-section */
.main-section {
  display: none;
  padding: 2rem;
  justify-content: center;
  overflow-y: scroll;
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 2rem;
}

/* preloader */
.preloader {
  display: none;
}
.preloader img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
}

.main-section.active,
.preloader.active {
  display: inherit;
}

@media all and (max-width: 670px) {
  .products {
    grid-template-columns: 1fr;
    grid-template-rows: 80vh max-content;
  }
  .sidebar {
    display: none;
  }
  .sidebar.active {
    display: unset;
  }

  .deactive {
    display: none;
  }

  .product-heading {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    font-size: 1.8rem;
    color: var(--grey-color-dark);
    position: sticky;
    top: 10vh;
    z-index: 99;
    border-bottom: 1px solid var(--grey-color-light);
  }
}
